body {
    background-color: lightpink;
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    font-size: 300%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
}

h1 {
    color: white;
    margin-bottom: 20px;
}

.interactive-image {
    width: 350px; 
    transition: transform 0.3s ease;
}

.interactive-image:hover {
    transform: scale(1.5);
}